DATABASE_URL="postgresql://kiyap:kiyap1234@localhost:5432/kiyap"
REDIS_URL="redis://localhost:6379"
# KIYAP Redis: redis://localhost:6380 (if using docker-compose redis)
JWT_SECRET="kiyap-super-secret-jwt-key-change-in-production-2024"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"
